<html>
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/datepicker/css/datepicker3.css">
    <link rel="stylesheet" href="/static/bootstrap_theme.css">
    <link rel="stylesheet" href="/static/datepicker/css/main.css">

</head>
<body background="/static/datepicker/images/grey_sandbag.png">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    ToDo App
                </a>
                <!--<a class="nav navbar-nav navbar-brand"> Developed by Dheeraj Prasanth </a>-->
            </div>
            <div id="navbar-main" class="navbar-collapse collapse">
                {% if user and not user.is_anonymous %}
                <ul class="nav navbar-nav navbar-right">
                    <li> <a href="/task/home/"> Home </a></li>
                    <li>  <a href="/task/home/?task_add=1"> Add Task </a></li>
                    <li> <a href="#"> Hi {{ user }} </a></li>
                    <li> <a href="/user/user_logout/"> Logout </a></li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li> <a href="/user/login/"> Login </a></li>
                    <li> <a href="/user/signup/"> SignUp</a></li>
                </ul>
                {% endif %}
            </div>

        </div>
    </div>
    {% block main %}{% endblock %}
    <div class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
          <ul class="nav navbar-nav navbar-left">
              <li><a href="#">© 2015. All Rights <Reserved></Reserved></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li> <a href="http://about.me/dheeraj_prasanth"> Developed By Dheeraj Prasanth </a></li>
          </ul>
      </div>
    </div>
<script src="/static/datepicker/js/jquery.min.js"></script>
<script src="/static/datepicker/js/bootstrap.min.js"></script>
<script src="/static/datepicker/js/bootstrap-datepicker.js"></script>
<script src="/static/datepicker/js/main.js"></script>
<script src="/static/datepicker/js/date.js"></script>

</body>
</html>