<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/datepicker/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/datepicker/css/datepicker3.css">
    <link rel="stylesheet" href="/static/datepicker/css/main.css">

    <!--&lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;-->
    <link rel="stylesheet" href="/static/bootstrap_theme.css">

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    ToDo App
                </a>
            </div>
            <div id="navbar-main" class="navbar-collapse collapse">
                {% if user and not user.is_anonymous %}
                <ul class="nav navbar-nav navbar-right">
                    <li> <button id="add_task"
                                 style="margin-top:18px; color:white; background-color:transparent; border:none;">
                        Add Task </button></li>
                    <li> <a href="#"> Hi {{ user }} </a></li>
                    <li> <a href="/user/user_logout/"> Logout </a></li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li> <a href="/user/login/"> Login </a></li>
                    <li> <a href="/user/signup/"> SignUp</a></li>
                </ul>
                {% endif %}
            </div>

        </div>
    </div>
    {% block main %}{% endblock %}
<script src="/static/datepicker/js/jquery.min.js"></script>
<script src="/static/datepicker/js/bootstrap.min.js"></script>
<script src="/static/datepicker/js/bootstrap-datepicker.js"></script>
<script src="/static/datepicker/js/main.js"></script>
<script src="/static/datepicker/js/date.js"></script>

</body>
</html>