{% extends 'authentication/base.html' %}

{% block main %}
        <div class="container todo-form" >
            <div class="row text-center" >
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-1"></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10 form-background" >
                    {% load bootstrap3 %}
                    <form class="bs-example bs-example-form" action="/user/signup/" method="post">
                        {% csrf_token %}
                        <div class="page-header">
                        <h1 style="color:white;">Signup</h1>
                        </div>
                        {% bootstrap_form signup %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        {% endbuttons %}
                    </form>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-1"></div>
            </div>
        </div>
{% endblock %}