{% extends 'authentication/base.html' %}

{% block main %}
    {% if error == 0 %}
    <div class="container" id="banner_list" style="display:none;">
    {% else %}
    <div class="container" id="banner_list" >
    {% endif %}
        <div class="page-header">
            <div class="row">
                <div class="panel panel-default" style="margin-top:50px;">
                    <div class="panel-heading">Task List
                        <span class="spacing" >All</span> <span>  | </span>
                        <span  class="spacing" >Day</span> <span> | </span>
                        <span  class="spacing" >Week</span> <span> | </span>
                        <span  class="spacing" >Month</span>
                    </div>
                        <table class="table" id="task-table">
                            <tr>
                                <th id="task_name">Name</th>
                                <th id="task_desc">Description</th>
                                <th id="task_prio">Priority</th>
                                <th id="task_date">Due Date</th>
                                <th id="task_status">Status</th>
                            </tr>
                            {% for i in list %}
                            <tr class="{{i.status}}" id="{{i.id}}">
                                <td>{{i.name}}</td>
                                <td>{{i.description}}</td>
                                <td>
                                    <select class="form-control priority" style="width:60px;">
                                        <option value="1" {% if i.priority == 1 %}selected{% endif %}>1</option>
                                        <option value="2" {% if i.priority == 2 %}selected{% endif %}>2</option>
                                        <option value="3" {% if i.priority == 3 %}selected{% endif %}>3</option>
                                        <option value="4" {% if i.priority == 4 %}selected{% endif %}>4</option>
                                        <option value="5" {% if i.priority == 5 %}selected{% endif %}>5</option>
                                    </select>
                                </td>
                                <td class="due_date">{{i.due_date}}</td>
                                <td>
                                    <select class="form-control status" style="width:100px;">
                                        <option value="0" {% if i.status == 0 %}selected{% endif %}>ToDO</option>
                                        <option value="1" {% if i.status == 1 %}selected{% endif %}>Doing</option>
                                        <option value="2" {% if i.status == 2 %}selected{% endif %}>Done</option>
                                    </select>
                                </td>
                                <td>
                                    <button class="delete" title="Delete"
                                            style="fontfont-weight:bold; color:red; maring-right:20px;">X
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    <div class="panel-footer" style="padding-top:15px;">
                            <label>Opted Colors</label> :
                            <span class="rectangle_todo"> ToDo </span>
                            <span class="rectangle_doing"> Doing </span>
                            <span class="rectangle_done"> Done </span>
                            <span class="rectangle_over_due"> Over Due </span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if error == 0 %}
    <div class="container todo-form-task" id="banner_add"
         style="top:10%;">
    {% else %}
    <div class="container todo-form=task" id="banner_add"
         style="display:none;">
    {% endif %}
            <div class="row text-center" >
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-1"></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10 form-background">
                    {% load bootstrap3 %}
                    <form class="bs-example bs-example-form" action="/task/home/" method="post">
                        {% csrf_token %}
                        <div class="page-header" style="margin-top:5px;">
                        <h3 style="color:white;">Add Task</h3>
                        </div>
                        {% bootstrap_form task %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        {% endbuttons %}
                    </form>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-1"></div>
            </div>
        </div>
{% endblock %}