{% extends 'authentication/base.html' %}

{% block main %}
    {% if error == 0 %}
    <div class="container" id="banner_list" style="display:none;">
    {% else %}
    <div class="container" id="banner_list" >
    {% endif %}
        <div class="page-header">
            <div class="row">
                <div class="panel panel-default" style="margin-top:30px;">
                    <div class="panel-heading">Task List
                        <span class="spacing" >All</span> <span>  | </span>
                        <span  class="spacing" >Day</span> <span> | </span>
                        <span  class="spacing" >Week</span> <span> | </span>
                        <span  class="spacing" >Month</span>
                    </div>
                        <table class="table">
                            <th>
                                <td>Name</td>
                                <td>Description</td>
                                <td>Priority</td>
                                <td>Due Date</td>
                                <td>Status</td>
                            </th>
                            {% for i in list %}
                            <tr class="{{i.status}}" id="{{i.id}}">
                                <td></td>
                                <td>{{i.name}}</td>
                                <td>{{i.description}}</td>
                                <td>
                                    <select class="form-control priority" style="width:60px;">
                                        <option value="1" {% if i.priority == 1 %}selected{% endif %}>1</option>
                                        <option value="2" {% if i.priority == 2 %}selected{% endif %}>2</option>
                                        <option value="3" {% if i.priority == 3 %}selected{% endif %}>3</option>
                                        <option value="4" {% if i.priority == 4 %}selected{% endif %}>4</option>
                                        <option value="5" {% if i.priority == 5 %}selected{% endif %}>5</option>
                                    </select>
                                </td>
                                <td class="due_date">{{i.due_date}}</td>
                                <td>
                                    <select class="form-control status" style="width:100px;">
                                        <option value="0" {% if i.status == 0 %}selected{% endif %}>ToDO</option>
                                        <option value="1" {% if i.status == 1 %}selected{% endif %}>Doing</option>
                                        <option value="2" {% if i.status == 2 %}selected{% endif %}>Done</option>
                                    </select>
                                </td>
                                <td>
                                    <button class="delete" title="Delete"
                                            style="fontfont-weight:bold; color:red; maring-right:20px;">X
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <label>Opted Colors</label> :
                <span class="rectangle_todo"> ToDo </span>
                <span class="rectangle_doing"> Doing </span>
                <span class="rectangle_done"> Done </span>
                <span class="rectangle_over_due"> Over Due </span>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            </div>
        </div>
    </div>

    {% if error == 0 %}
    <div class="container" id="banner_add">
    {% else %}
    <div class="container" id="banner_add" style="display:none;">
    {% endif %}
        <div class="page-header">
            <div class="row">

                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-2"></div>
                <div class="col-lg-4 col-md-5 col-sm-6 col-xs-8 input-group">
                    <h3 class="text-center">Task</h3>
                    <form class="lead" action="/task/home/" method="POST" style="font-size:15px;">
                        {% csrf_token %}
                        {% load bootstrap %}
                        {{ task|bootstrap }}
                        {% for i in form.errors %}
                            {{i}}
                        {% endfor %}
                        {% if form.errors %}
                            <p id="error">error!</p>
                        {% endif %}
                        <br><br>
                        <div class="center-block text-center">
                        <input type="submit" value="Submit" class="btn btn-default"
                               style="font-weight:bold; font-size:15px; margin-right:40px;">
                        <input type="button" value="Cancel" id="cancel" class="btn btn-default"
                               style="font-weight:bold; font-size:15px;">
                        </div>
                    </form>
                </div>
                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-2" >
            </div>
        </div>
    </div>
{% endblock %}