/* Custom CSS */

/* vertical centering*/
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
}

/* common styles */
body {
    background: #ecf0f1;
}
.messages {
    max-width: 960px;
    margin: 0 auto;
}
.field-error {
    border: 1px solid tomato !important;
}
.todo {
    background:  #FFB6C1;
}
.doing {
    background:  #ADD8E6;
}
.done {
    background: #90EE90;
}
.expired {
    background: #cccccc !important;
}
.breadcrumb .active a {
    color: #424242;
    font-weight: 700;
}
.ajax-loader {
    display: block;
    width: 100%;
    text-align: center;
}
.new-task {
    margin-right: 10px;
}
.danger {
    border: 1px solid tomato !important;
}
.navbar-brand {
    text-transform: none;
}
.color-help {
    position: absolute;
    bottom: 50px;
}
.color-help span {
    padding: 3px 5px;
    margin: 0 3px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
        -ms-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
}
/* structural styles */
#tasks {
    margin-bottom: 50px;
}
#page {
    max-width: 960px;
    margin: 15px auto;
    background: #ffffff;
    -webkit-box-shadow: 0 0 10px #cccccc;
       -moz-box-shadow: 0 0 10px #cccccc;
        -ms-box-shadow: 0 0 10px #cccccc;
         -o-box-shadow: 0 0 10px #cccccc;
            box-shadow: 0 0 10px #cccccc;
}
.wrapper {
    padding: 15px 25px;
    min-height: 600px;
    position: relative;
}
.authbox {
    width: 300px;
    margin: 0 auto;
    padding: 5px 25px 15px;
    background: #ffffff;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
        -ms-border-radius: 5px;
         -o-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 10px #cccccc;
       -moz-box-shadow: 0 0 10px #cccccc;
        -ms-box-shadow: 0 0 10px #cccccc;
         -o-box-shadow: 0 0 10px #cccccc;
            box-shadow: 0 0 10px #cccccc;
}


.rectangle_todo{
    margin-left:10px;
    width:100px;
    height:30px;
    background-color: #CCFF99;
    padding:5px;
    border: 2px solid;
}

.rectangle_doing{
    margin-left:10px;
    width:100px;
    height:30px;
    background-color: #FFFF66;
    padding:5px;
    border: 2px solid;
}

.rectangle_done{
    margin-left:10px;
    width:100px;
    height:30px;
    background-color: #99FFCC;
    padding:5px;
    border: 2px solid;
}

.rectangle_over_due{
    margin-left:10px;
    width:100px;
    height:30px;
    background-color: #FF5959;
    padding:5px;
    border: 2px solid;
}

.right_footer{
    float:right;
    margin-right:10px;
}

.spacing{
    margin-left:10px;
    margin-right:10px;
    cursor:pointer;
    color:black;
}

.container{
    width: 960px;
}

.todo-form{
    margin-top:10%;
}

.todo-form-task{
    margin-top:5%;
}

.form-background{
    background:rgba(0,0,0,0.3);
    border-radius:10px;
}

textarea{
    height:50px;
}

.navbar-fixed-bottom{
    height:10px;
}